<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kvj.taskw" >
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_tw_logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" >
        <activity android:name=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".account.AccountAuthenticator$AccountAddDialog"
                android:theme="@style/Theme.AppCompat.Dialog.Alert" android:excludeFromRecents="true">

        </activity>
        <activity android:name=".ui.EditorActivity"
            android:theme="@style/AppThemeD">
        </activity>
        <service
                android:name=".account.AccountAuthenticator$Service"
                android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>
        <receiver
                android:name=".data.SyncIntentReceiver"
                android:enabled="true"
                android:exported="true">

        </receiver>
    </application>

</manifest>
